@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Inconsolata:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,500;1,700;1,900&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Dancing+Script:wght@600&family=Hubballi&family=Inconsolata:wght@700&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;/*tirar todos os sublinhados de links ect*/
}
:root{
    --font-frontend: 'Comfortaa', cursive;
    font-family: 'Dancing Script', cursive;

    --font-marlene: 'Hubballi', cursive;
    font-family: 'Inconsolata', monospace;

}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}
.show-menu .hamburguer{
    right: 16rem;
    
}
.line{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    transition: transform 1s;
}
/*junto com a linha 3, formar um x */
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .40rem);
}
/*com o menu aberto a linha do meio não vai existir*/
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.1rem, -.42rem);
}
header{
    width: 100%;
    height: 100%;
    overflow: hidden;/*desabilitar a barra de rolagem lateral*/
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
     
}
.img-wrapper img{
    width: 100%;
    height: 100%;
}

.banner {
    position: absolute;
    top: 50%;
    left: 10%;
}   

.banner h1 {
    color: white;
    font-family: var(--font-frontend);
    font-size: 45px;
    text-shadow: 2px 2px 1px black;
}
.banner p{
    color: white;
    font-family: var(--font-marlene);
    font-size: 30px;
    text-shadow: 1px 1px 0.5px black;
    margin-top: 2%;
}
.banner button {
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 10px;
    background-color: yellow;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px rgba(0, 0, 0, 0.377);
    border: 2px 2px 2px;
    text-transform: uppercase;/*todas as letras maiusculas*/
    letter-spacing: 2px; /*espaço entre as letras*/
}
.banner button:hover{
    opacity: .8;
}
 
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
   
    

}
.menu-item{
    font-family: var(--font-marlene);
    font-size:2rem;
    margin-top: 1rem;
    transition: color 1s;
    
}
.menu-link{
    color: black;
}
.menu-link:hover{
    color:purple;
}
.socialmedia{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.socialmedia i{
    background-color: purple;
    border-radius: 50%;
    color: rgb(245, 245, 245);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
   

